* {
  margin: 0px;
  padding: 0px;
  color: #26877f;
}
body {
  background-color: #FBF4E9;
}

#banner > h2 {
  font-size: 3.6rem;
  padding-top: 30px;
}
h2 {
  font-size: 1.8rem;
  padding-bottom: 30px;
}
header > img {
  height: 300px;
  width: 250px;
  display: block;
  margin: 20px auto;
}

nav {
  border-top: 1px solid #26877f;
  border-bottom: 1px solid #26877f;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  font-size: 1.8rem;
}
nav * {
  text-decoration: none;
  font-weight: bold;
}

main > div {
  height: 300px;
  background: rgba(0, 0, 0, 0.4) url(./media/gardening-banner_1.jpg);
  background-size: 100% 100%;
  border-radius: 8px;
  margin: 50px;
  padding: 20px;
  align-items: center;
  background-blend-mode: darken;
}
main > div > h2 {
  color: white;
  font-size: 5rem;
  margin-left: 20px;
}
p {
  font-size: 1.2rem;
}

section {
  display: flex;
}

article {
  width: 33vw;
  height: 550px;
  margin: 10px 50px;
  align-self: center;
  color: aliceblue;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
}
article img {
  height: 220px;
  width: 100%;
  border-radius: 25px;
  filter: brightness(80%);
}

article p {
  padding-top: 10px;
  text-align: justify;
}

article a {
  font-size: 1.4rem;
  padding-top: 20px;
  margin-top: auto;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  /* animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
article a:hover {
  border-bottom: 2px solid #26877f;
}
footer {
  display: flex;
  justify-content: space-between;
  
}

footer div {
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px 50px;
}
footer img {
  width: 100px;
  height: 100px;
}

footer > div > p {
  margin-top: 80px;
  align-self: flex-start;
}

/* @keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
} */